* { /* este asterisco selecciona todos los elementos de la página */
    margin: 0; /* esto es para poder controlar los márgenes que son los espacios fuera de los elementos */
    padding: 0; /* para controlar los espacios dentro de los elementos */
    box-sizing: border-box; /* esto hace que el padding no haga que el elemento se haga más grande */
}

.primer { /* estilos generales del body */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente principal */
    color: #ffffff; /* Texto blanco */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    background: #101418;/* Fondo con degradados suaves como en la imagen */
}

.cuadro { /* esto es la seccion central donde va todo el contenido */
    display: flex; /* es para que los elementos dentro del contenedor se alineen en fila */
    justify-content: center; /* esto es para que el contenido se centre horizontalmente */
    text-align: center; /* Texto centrado */
    padding: 40px 20px; /* esto es para el espacio vertical y para el horizontal para que no toque los bordes y el cambio se ve cuando se hace más pequeña la pantalla */
}

.name { /* esto es para seleccionar el nombre Héctor */
    font-family: 'Playfair Display', serif; /* para darle una fuente diferente */
    font-size: 72px; /* Tamaño de la fuente */
    font-weight: 700; /* Peso de la fuente */
    margin-bottom: 20px; /* Espacio inferior */
}

.title { /* esto es para darle estilo al título Content Creator */
    font-family: 'Playfair Display', serif; /* Misma fuente que el nombre */
    font-size: 64px; /* tamaño de la fuente */
    font-weight: 560; /* peso de la fuente */
    color: #ff7a3d; /* color del título */
    margin-bottom: 30px; /* Espacio inferior de Content Creator */
    margin-top: 20px; /* Espacio superior de Content Creator */
}

.description { /* esto es para el párrafo de descripción */
    font-size: 20px; /* Tamaño del texto */
    line-height: 1.6; /* Espaciado entre líneas del texto */
    color: #bfc6cea4; /* Gris claro */
    max-width: 700px; /* Limita el ancho del párrafo */
    margin: 0 auto 50px; /* esto es para centrar el párrafo y darle espacio inferior, el 0 es para que no tenga margen arriba, auto es para centrarlo y 50px es el margen de abajo */
}

.botones { /* son los estilos para el contenedor de los botones */
    display: flex; /* para que los botones esten bien alineados */
    gap: 20px; /* Espacio entre botones */
    justify-content: center;/* para que los botones esten centrados horizontalmente */
    flex-wrap: wrap; /* para que los botones se ajusten en pantallas pequeñas */
}

.boton { /* para cada botón */
    padding: 14px 28px; /* esto es para el espacio dentro del botón, 14px es el espacio vertical y 28px el horizontal */
    border-radius: 12px; /* para que los botones sean redondeados */
    border: 1px solid rgb(174, 79, 11); /* esto es para el borde de los botones */
    background: linear-gradient(145deg, #f79412, #302824); /* fondo de los botones Videos para Redes y Creacion con IA */
    color: #ffffff; /* Texto blanco */
    font-size: 20px; /* Tamaño del texto */
    text-decoration: none; /* para que no se vea la línea debajo del texto ya que es un enlace */
    transition: all 0.9s ease; /* para que los cambios al pasar el ratón sean suaves */
}

.boton:hover {
    background: #de5931; /* Fondo naranja al pasar el ratón */
    border-color: #ffba0bd2; /* Borde naranja al pasar el ratón */
    color: black; /* Texto negro al pasar el ratón */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.libreria_agencia { /* es el contenedor principal de la seccion de librería y agencia */
    padding: 20px; /* este padding es para que no toque los bordes */
}

.pagina { /* Contenedor de los enlaces de las páginas Tu Librería y Agencia de Viajes */
    display: flex; /* es para que los dos bloques que llevan a las páginas estén alineados horizontalmente */
    justify-content: center; /* para que esten centrados horizontalmente */
    gap: 18px; /* es el espacio entre los bloques */
    margin-bottom: 50px; /* espacio inferior del contenedor de los enlaces */
}

.pagina a { /* Estilo para los enlaces de las páginas Tu Librería y Agencia de Viajes */
    padding: 16px 28px; /* es el espacio dentro de los bloques de Tu Librería y Agencia de Viajes */
    border-radius: 16px; /* para que los dos botones de Tu Librería y Agencia de Viajes sean redondeados */
    text-decoration: none; /* para que no se vea la línea debajo del texto ya que es un enlace */
    border: 1px solid #cd640fd1; /* borde de los bloques */
    color: white; /* color del texto de los bloques */
    font-size: 20px; /* tamaño de la fuente de los bloques */
}

.pagina a.libreria { /* es el estilo del bloque de Tu Librería */
    background: rgba(231, 113, 11, 0.974);
}

.pagina a.active.viajes { /* es el estilo del bloque de Agencia de Viajes */
    background: #39c6c3;
}

.titulo { /* titulo principal: Tu Librería */
    text-align: center; /* para que el título Tu libreria esté centrado */
    margin-bottom: 18px; /* espacio inferior del título */
    font-family: 'Playfair Display', serif; /* fuente del título */
    font-size: 52px; /* tamaño de la fuente */
    color: rgba(231, 113, 11, 0.974); /* color del título */
}

.titulo.turquoise { /* titulo principal: Agencia de Viajes */
    color: #39c6c3;
}

.des { /* descripción debajo del título de Tu Librería */
    margin: 0 auto 30px; /* para centrar el párrafo y darle espacio inferior, el 0 es para que no tenga margen arriba, auto es para centrarlo y 30px es el margen de abajo */
    text-align: center; /* para que el párrafo esté centrado */
    color: #9aa0b3; /* color gris claro */
    line-height: 1.6; /* espaciado entre líneas */
    font-size: 20px;
}

.cuadroo { /* bloque: de Herramientas Utilizadas y Objetivo del Cliente */
    background: linear-gradient(145deg, #ee89057e, #edd26594); /* el color de fondo de los bloques de Herramientas Utilizadas y Objetivo del Cliente */
    border-radius: 16px; /* para que los bloques sean redondeados */
    padding: 20px; /* espacio dentro de los bloques Herramientas Utilizadas y Objetivo del Cliente */
    border: 1.9px solid rgba(213, 128, 15, 0.849); /* el color de borde de los bloques */
    max-width: 90%;
    margin: 0 auto 20px; /* para centrar los bloques y darle espacio inferior. El 0 es para que no tenga margen arriba, auto es para centrarlo y 40px es el margen de abajo */
}

.cuadroo h3 { /* los títulos de los bloques Herramientas Utilizadas y Objetivo del Cliente */
    font-family: 'Playfair Display', serif; /* fuente de los títulos */
    font-size: 26px; /* tamaño de la fuente */
    margin-bottom: 22px; /* espacio inferior de los títulos */
}

.contenedor_etiquetas { /* contenedor de las etiquetas de las herramientas */
    display: flex; /* para que las etiquetas estén alineadas horizontalmente */
    flex-wrap: wrap; /* para que las etiquetas se ajusten en pantallas pequeñas y que no salgan de la pantalla */
    gap: 14px; /* espacio entre las etiquetas */
}

.etiqueta { /* estilo de cada etiqueta que son ChatGPT, Runway ML, ElevenLabs, Canva y CapCut */
    padding: 10px 16px; /* espacio dentro de cada etiqueta. 10px es el espacio vertical y 16px el horizontal */
    border-radius: 999px; /* para que las etiquetas sean completamente redondeadas */
    background: #10131a; /* color de fondo de las etiquetas */
    border: 1px solid #db943d; /* color del borde de las etiquetas */
    font-size: 14px; /* tamaño de la fuente de las etiquetas */
}

.grid { /* contenedor del bloque de Objetivo del Cliente */
    display: grid; /* usamos grid para que se vean los dos cuadros uno al lado del otro */
    grid-template-columns: 1fr 1fr; /* para que haya dos columnas de igual tamaño */
    gap: 24px; /* espacio entre los cuadros */
    line-height: 1.6;
}

.bloc { /* estilo de cada cuadro dentro del bloque de Objetivo del Cliente */
    background: #10131a; /* color de fondo de los cuadros */
    border-radius: 16px; /* para que los cuadros sean redondeados */
    padding: 24px; /* espacio dentro de los cuadros */
    letter-spacing: 1px;
}

.bloc span { /* estilo de los títulos dentro de los cuadros: AUDIENCIA, MENSAJE */
    display: block; /* para que cada título esté en una línea separada */
    margin-bottom: 10px; /* espacio inferior de los títulos */
    font-size: 17px; /* tamaño de la fuente de los títulos */
    color: #ff7a45; /* color de los títulos */
    letter-spacing: 2px; /* espacio entre letras de los títulos */
}

.one { /* es el contenedor principal de la sección Método para Alcanzar el Objetivoe */
  display: flex; /* usamos flex para alinear los elementos */
  flex-direction: column; /* para que los elementos estén en columna */
  gap: 15px; /* espacio entre los elementos */
}

.contenido h3 { /* estilo de los subtítulos dentro de cada punto del método */
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #ff7a45;
}

.contenido p { /* estilo de los párrafos dentro de cada punto del método */
  font-size: 15px;
  line-height: 1.6;
}
